@import "tailwindcss";

:root {
  --background: #f6f1e9;
  --text: #4f200d;
  --nav-bg: #4f200d;
  --nav-text: #f6f1e9;
  --accent: #ff9a00;
  --highlight: #ffd93d;
}

@theme inline {
  --color-background: var(--background);
  --color-text: var(--text);
  --color-nav-bg: var(--nav-bg);
  --color-nav-text: var(--nav-text);
  --color-accent: var(--accent);
  --color-highlight: var(--highlight);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

/* @media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #eeeeee;
  }
} */

body {
  background: var(--background);
  color: var(--text);
  font-family: Arial, Helvetica, sans-serif;
}
